.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-color: $footer-bg;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
}
.hero__container {
  @extend %container;
}
.hero__heading {
  width: 696px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: $secondary-accent;

  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.hero__button {
  @extend %button;
}